*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppies', sans-serif;

}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://www.cloud4c.com/sites/default/files/2022-07/cloud4c-company-contact-1Desktop.jpg);
    background-size: cover;

}
.contact .contact
{
    max-width: 800px;
    text-align:center;
}
.contact .contacts h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    
}
.contact .contacts p
{
    margin-top: 50px;
    font-weight: 500;
    font-size:20px;
    color: #fff;
}
.button {
    margin-top: 30px;
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px; */
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}
/* 
  .contacts{
    width: 300px;
    height: auto;
    align-items: start;
  } */